<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.arthaven.co/monthly_2018_10/secret-santa-banner.png.05cb2d82ddce296fda3d2600043278d1.png);">
  <div class="container">
    <h1>Secret Santa</h1>
  </div>
</div>
