<h1>Tirage au sort effectué</h1>

<ul>
  <% @all_participants.each do |element| %>
    <li><%= element.participant.first_name %> fait un cadeau à <%= element.participant_allocated %></li>
  <% end %>
</ul>
